form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#submit {
    font-weight: bold;
    background: aqua;
    outline: none;
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background: #36adbb;
}

#results tr th {
    background: #ccc;
}
